<%- include('../includes/head.ejs',{pageTitle:pageTitle}) %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/auth.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        
        <form class="login-form" action="/new-password" method="POST">
            <div class="form-control">
                <label for="password">Password</label>
                <input type="password" name="password" id="password">
                
                <label for="confirmPass">Confirm Password</label>
                <input type="password" name="confirmPass" id="confirmPass">
            </div>
            <input type="hidden" name="userId" value="<%= userId %>">
            <input type="hidden" name="passwordToken" value="<%= passwordToken %>">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="btn" type="submit">Update Password</button>
            <br>
            
        </form>
        <br>
        <% if(errorMessage){%>
            <div class="user-message user-message--error">
                <!-- <h5 style="color: red;"> <place error message here> </h5> -->
                <%= errorMessage %>
            </div>
        <% } %>
    </main>
<%- include('../includes/end.ejs') %>