<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/auth.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <main>
                <form class="login-form" action="/signup" method="POST">
                    <div class="form-control">
                        <label for="email">E-Mail</label>
                        <input class="<%= validationErrors.find(e => e.param === 'email')? 'invalid': '' %>"
                            type="email" name="email" id="email" value="<%= oldInput.email%>">

                        <label for="address">Address</label>
                        <textarea name="address" id="address" rows="5"
                            class="<%= validationErrors.find(e => e.param === 'address')? 'invalid': '' %>"><%= oldInput.address%></textarea>
                        <!-- <input type="text" name="address" id="address"> -->

                        <label for="password">Password</label>
                        <input type="password" name="password" id="password" value="<%= oldInput.password%>"
                            class="<%= validationErrors.find(e => e.param === 'password')? 'invalid': '' %>">

                        <label for="confirmPassword">Confirm Password</label>
                        <input type="password" name="confirmPassword" id="confirmPassword"
                            value="<%= oldInput.confirmPassword%>"
                            class="<%= validationErrors.find(e=> e.param === 'confirmPassword')? 'invalid': '' %>">
                    </div>
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button class="btn" type="submit">Signup</button>
                </form>
                <br>
                <% if(errorMessage){%>
                    <div class="user-message user-message--error">
                        <%=errorMessage%>
                    </div>
                    <% } %>
            </main>
            <%- include('../includes/end.ejs') %>